@import url('https://fonts.googleapis.com/css?family=Bangers|Rye&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: #000 url('../images/background.jpg') no-repeat center;
    background-size: cover;
    // min-height: 100vh;
    height: 100%;
    width: 100%;
}

p {
    font-family: 'Rye', cursive;
    color: #e6e6e6;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
}

.jumbotron {
     background: rgba(34, 34, 34, 0.9);
}

/*description jumbotron*/
.description {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .title {
        font-family: 'Rye', cursive;
        font-size: 5rem;
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .description-paragraph {
        font-size: 1.8rem;
    }
}
/*content*/
.btn {
    font-family: 'Rye', cursive;
    font-size: 3rem;
    margin-top: 3.5rem;
}

.container-gifs {
    width: 30rem;
    height: 30rem;
    border: 0.1rem solid gray;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

#gifs {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    background-size: cover;
    z-index: -1;
}

#quotes {
    font-size: 3rem;
    text-align: center;
}

.features {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

[class*="devicon"] {
    font-size: 5rem;
    color: white;
}

@media screen and (min-width: 768px) {
     .container-gifs {
         width: 50rem;
     }
}
