@import url('https://fonts.googleapis.com/css?family=Bangers|Rye&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000 url('../images/background.jpg') no-repeat center;
    background-size: cover;
    // min-height: 100vh;
    height: 100%;
}

p {
    font-family: 'Rye', cursive;
    color: #e6e6e6;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
}

.jumbotron {
     background: rgba(34, 34, 34, 0.9);
}

/*description jumbotron*/
.description {
    padding-top: 15px;
    padding-bottom: 15px;
    .title {
        font-family: 'Rye', cursive;
        font-size: 3vh;
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .description-paragraph {
        font-size: 2vh;
    }
}
/*content*/
.btn {
    font-family: 'Rye', cursive;
    font-size: 3vh;
    margin-top: 5vh;
}

.container-gifs {
    width: 40vw;
    height: 35vh;
    border: 1px solid gray;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

#gifs {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    display: block;
    background-size: cover;
    z-index: -1;
}

#quotes {
    font-size: 3vh;
    text-align: center;
}
