* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000 url('../images/background.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.container-gifs {
    width: 50vw;
    height: 45vh;
    border: 1px solid gray;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

#gifs {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    display: block;
    background-size: cover;
    z-index: -1;
}
